<template>
    <div class="route">
        <div class="flex-column-body">
            <div class="container">
                <div class="text-wrap">
                    <div v-if="!isLoading">
                        <!-- <button class="button is-primary" style="float:right" :class="{'invisible':uncollected.length == selected.length}" @click="selectAll()">Select All</button> -->
                        <h1>{{tickets.length}} Tickets</h1>
                        <div v-if="uncollected.length">
                            <h5>{{uncollected.length}} of {{tickets.length}} Awaiting collection</h5>
                            <ticket v-for="(ticket, index) in uncollected" @click.native="toggle(ticket)" :selected="isSelected(ticket)" :collected="ticket.collected" :ticket="ticket"></ticket>
                        </div>
                        <div v-if="collected.length">
                            <h5>{{collected.length}} of {{tickets.length}} Collected</h5>
                            <ticket v-for="(ticket, index) in collected" @click.native="toggle(ticket)" :selected="isSelected(ticket)" :collected="ticket.collected" :ticket="ticket"></ticket>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions-footer" v-if="selected.length && !collecting">
                <div class="printer" v-if="currentPrinter">Printing to {{currentPrinter.title}}</div>
                <div class="actions-padder">
                    <div class="container">
                        <div class="text-wrap">
                            <!-- <div class="columns is-mobile">
              <div class="column">
                Printer
              </div>
              <div class="column">
                Checkin Also
              </div>
              </div>-->
                            <div class="columns is-mobile">
                                <div class="column">
                                    <button class="button is-fullwidth" @click="deselectAll()">
                                        <span>Deselect</span>
                                    </button>
                                </div>
                                <div class="column">
                                    <button class="button is-fullwidth is-primary" @click="collect(selected)">
                                        <span>{{collectOnly ? 'Collect' : 'Checkin'}} {{ selected.length }}</span>
                                        <b-icon pack="far" icon="angle-right" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <b-loading :is-full-page="true" :active="(isLoading || collecting)" :can-cancel="false"></b-loading>
        </div>
    </div>
</template>
<script>
import ticket from "@/components/Ticket.vue";

export default {
    name: "interaction",
    components: {
        ticket
    },
    data() {
        return {
            error: null,
            tickets: [],
            isLoading: false,
            selected: [],
            collecting: false
        };
    },
    computed: {
        collected() {
            return this._.filter(this.tickets, { collected: true });
        },
        uncollected() {
            return this._.filter(this.tickets, { collected: false });
        },
        orderedTickets() {
            var self = this;

            var ordered = self._.orderBy(self.tickets, function(ticket) {
                return ticket.collected;
            });

            console.log("ORDERED TICKETS", ordered);

            return ordered;
        }
    },
    created() {
        this.fetchData();
    },
    watch: {
        // call again the method if the route changes
        $route: "fetchData"
    },
    methods: {
        notify(notification) {
            var message = notification.message;
            if (this._.isString(notification)) {
                message = notification;
            }

            this.$toast.open({
                message: message,
                type: "is-primary",
                duration: 3000
            });
        },
        isSelected(item) {
            return this.selected.indexOf(item) != -1;
        },
        deselectAll() {
            this.selected = []; //.length = 0;
        },
        selectAll() {
            this.selected = [].concat(this.uncollected);
        },
        deselect(item) {
            var selection = this.selected;
            var index = selection.indexOf(item);
            selection.splice(index, 1);
        },
        select(item) {
            if (item.collected) {
                return;
            }

            if (!this.isSelected(item)) {
                this.selected.push(item);
            }
        },
        toggle(item) {
            if (this.isSelected(item)) {
                this.deselect(item);
            } else {
                this.select(item);
            }
        },
        checkinTicket(ticket) {
            var self = this;

            //Mark the ticket as collecting
            // self.$set(self.tickets[index], 'collecting', true);
            ticket.collecting = true;

            //////////////////////////////////////////////////////

            var printerID = self.$fluro.utils.getStringID(self.printer);
            //Talk to the server and collect the ticket
            var promise = self.$fluro.api.post(`/tickets/checkin/${ticket._id}`, {
                printer: printerID,
                printerID: printerID,
                printStationID: printerID
            });

            //////////////////////////////////////////////////////

            promise.then(
                function(res) {
                    ticket.collecting = false;
                    ticket.collected = true;
                    ticket.collectedBy = res.data.collectedBy;
                    ticket.collectionDate = res.data.collectionDate;
                    // self.$set(ticket, 'collecting', false)
                    // self.$set(ticket, 'collected', true)
                    // self.$set(ticket, 'collectedBy', true)
                    // self.$set(ticket, 'collectionDate', res.data.collectionDate)
                },
                function(err) {
                    ticket.collecting = false;
                    this.notify(err.toString());

                    // self.$toast.open(`${err.toString()}`);
                    console.log("Ticket collection failed", err);
                    // self.$set(ticket, 'collecting', false)
                    // self.$set(ticket, 'error', err)
                }
            );

            //////////////////////////////////////////////////////

            return promise;
        },
        markCollected(ticket) {
            var self = this;

            //Mark the ticket as collecting
            // self.$set(self.tickets[index], 'collecting', true);
            ticket.collecting = true;

            //////////////////////////////////////////////////////

            //Talk to the server and collect the ticket
            var promise = self.$fluro.api.get(`/tickets/collect/${ticket._id}`);

            //////////////////////////////////////////////////////

            promise.then(
                function(res) {
                    ticket.collecting = false;
                    ticket.collected = true;
                    ticket.collectedBy = res.data.collectedBy;
                    ticket.collectionDate = res.data.collectionDate;
                    // self.$set(ticket, 'collecting', false)
                    // self.$set(ticket, 'collected', true)
                    // self.$set(ticket, 'collectedBy', true)
                    // self.$set(ticket, 'collectionDate', res.data.collectionDate)
                },
                function(err) {
                    ticket.collecting = false;
                    this.notify(err.toString());

                    // self.$toast.open(`${err.toString()}`);
                    console.log("Ticket collection failed", err);
                    // self.$set(ticket, 'collecting', false)
                    // self.$set(ticket, 'error', err)
                }
            );

            //////////////////////////////////////////////////////

            return promise;
        },
        collect() {
            var self = this;

            //Update and collecting
            self.collecting = true;

            //////////////////////////////////////////////////////

            var promises;

            if (self.collectOnly) {
                promises = _.map(self.selected, function(ticket) {
                    return self.markCollected(ticket);
                });
            } else {
                promises = _.map(self.selected, function(ticket) {
                    return self.checkinTicket(ticket);
                });
            }

            //////////////////////////////////////////////////////

            Promise.all(promises).then(
                function(values) {
                    //Spark a message
                    if (self.selected.length == 1) {
                        self.notify(`${self.selected[0].contact.title} collected`);
                        // self.$toast.open(`${self.selected[0].contact.title} collected`);
                    } else {
                        self.notify(
                            `${self.selected.length} ticket${
                self.selected.length == 1 ? "" : "s"
              } collected`
                        );
                        //self.$toast.open(`${self.selected.length} ticket${self.selected.length == 1 ? '' : 's'} collected`);
                    }

                    self.collecting = false;
                    self.selected.length = 0;

                    self.$set(self.tickets, "length", self.tickets.length);
                },
                function(err) {
                    self.collecting = false;
                    self.notify(`${err.toString()}`);
                }
            );
        },
        fetchData() {
            var self = this;

            /////////////////////////////////////

            //If we're already loading
            if (self.isLoading) {
                //Do nothing
                return;
            }

            /////////////////////////////////////

            //Reset error and interaction
            self.error = null;
            self.tickets = [];
            self.isLoading = true;

            /////////////////////////////////////

            //Load the interaction tickets
            var promise = self.$fluro.api.get(
                `/tickets/contact/${self.$route.params.id}`
            );

            //Update the data
            promise.then(
                function(res) {
                    _.each(res.data, function(ticket) {
                        ticket.collecting = ticket.collecting;
                        ticket.collectedBy = ticket.collectedBy;
                        ticket.collected = ticket.collected;
                        ticket.collectionDate = ticket.collectionDate;
                    });

                    //Watch Tickets
                    self.tickets = res.data;
                    self.isLoading = false;
                },
                function(err) {
                    console.log("ERROR!", err);
                    self.notify(`${err.toString()}`);
                    self.isLoading = false;
                }
            );
        }
    }
};
</script>
<style scoped lang="scss">
.actions-padder {
    padding: 15px 0;
}

.printer {
    display: block;
    text-align: center;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 10px;
}

.actions-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    border-top: 1px solid #ddd;
    box-shadow: 0 0 4px rgba(#000, 0.1);
    background: #fff;
}

.route .flex-column-body {
    padding-bottom: 120px !important;
}

h1 {
    margin: 0.5em 0;
    line-height: 36px;
}

h5 {
    margin: 25px 0 15px 0;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 0.8em;
}

.invisible {
    opacity: 0;
}
</style>