<template>
	<div class="bg-white">
		<div class="flex-column-body">
			<section class="section">
				<div class="container">
					<div class="text-wrap">
						
						<h1 class="title">Help</h1>
						<!-- <h2 class="subtitle">
							Instructions
						</h2> -->

						<b-tabs v-model="activeTab">
							<b-tab-item label="QR Code">
								
								<div class="content">
								<ol>
									
									<li>
										Open your camera
									</li>
									<li>
										Point at the ticket QR Code
									</li>
									<li>
										Tap the link that appears
									</li>
									<li>
										Select all of the tickets that the person is collecting, by either tapping 'Select All' or individually selecting each ticket. When selected the ticket will change color.
									</li>
									<li>
										At the bottom of your screen tap 'Collect'
									</li>
									<li>
										A message will display if the ticket has been successfully collected
									</li>
									<li>
										Exchange the appropriate wrist band for each ticket type
									</li>
								</ol>
							</div>



							</b-tab-item>

							<b-tab-item label="Searching">
								<div class="content">
								<ol>
									
									<li>
										Tap search in the main menu
									</li>
									<li>
										Search for name or email address
									</li>
									<li>
										Tap the name
									</li>
									<li>
										Select all of the tickets that the person is collecting, by either tapping 'Select All' or individually selecting each ticket. When selected the ticket will change color.
									</li>
									<li>
										At the bottom of your screen tap 'Collect'
									</li>
									<li>
										A message will display if the ticket has been successfully collected
									</li>
									<li>
										Exchange the appropriate wrist band for each ticket type
									</li>

								</ol>
							</div>
							</b-tab-item>
						</b-tabs>

						

					</div>
				</div>

			</section>
		</div>
	</div>


</template>

<script>


// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
	name: 'help',
	data() {
		return {
			activeTab:null,
		}
	}
}
</script>



<style>

</style>