<template>
    <div>
        <qrcode-stream @decode="onDecode"></qrcode-stream>
    </div>
</template>
<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
    name: "home",
    components: {
        //HelloWorld
    },
    methods: {
        onDecode(decodedString) {
            //Get all the pieces of the url
            var pieces = this._.chain(decodedString.split("/"))
                .compact()
                .uniq()
                .value();

            ///////////////////////////////////////////////

            var type = this._.find(pieces, function(string) {
                switch (string) {
                    case "interaction":
                    case "contact":
                    case "event":
                    case "ticket":
                        return string;
                        break;
                }
            });

            ///////////////////////////////////////////////

            console.log("DECODED STRING!", decodedString);

            ///////////////////////////////////////////////

            //Mongo Regex
            var mongoRegex = /^[a-f\d]{24}$/i;
            var ticketID = this._.find(pieces, function(string) {
                return mongoRegex.test(string);
            });

            ///////////////////////////////////////////////

            switch (type) {
                case "interaction":
                    this.$router.push({ name: "interaction", params: { id: ticketID } });
                    break;
                case "ticket":
                    this.$router.push({ name: "ticket", params: { id: ticketID } });
                    break;
                case "contact":
                    this.$router.push({ name: "contact", params: { id: ticketID } });
                    break;
                case "family":
                    this.$router.push({ name: "family", params: { id: ticketID } });
                    break;
            }

            ///////////////////////////////////////////////
        }
    }
    // computed:{
    //  counter:{
    //    get() {
    //      return this.$store.state.counter;
    //    },
    //    set(value) {
    //      return this.$store.commit('counter', value);
    //    }
    //  },
    // },
    // methods:{
    //  increment() {
    //      // console.log('Increment', this.$store.state)
    //      this.$store.dispatch('increment', 5);
    //    },
    //    decrement() {
    //      // console.log('Decrement', this.$store.state)
    //      this.$store.dispatch('decrement');
    //    }
    // }
};
</script>