<template>
    <div class="flex-column">
        <div class="flex-column-header">
            <b-field>
                <b-input :class="'search-field'" placeholder="Search for name or email address" type="search" icon="search" ref="search" v-model="search.terms"></b-input>
                <!-- <p class="control"> -->
                <!-- <button class="button is-primary">Search</button> -->
                <!-- </p> -->
            </b-field>
        </div>
        <div class="flex-column-body">
            <div class="container border-top" :class="[group.class, {open:!group.collapsed}]" :key="group.title" v-for="group in grouped">
                <div class="group-header past" v-if="group.collapsible" @click="toggleCollapsed(group)">
                    <strong>{{group.collapsed ? 'Show' : 'Hide'}} {{group.title}}</strong>
                    <b-icon library="fa" :icon="group.collapsed ? 'angle-down' : 'angle-up'"></b-icon>
                </div>
                <div class="group-header " v-else>
                    <strong>{{group.title}}</strong>
                    <!-- <b-icon library="fa" :icon="group.collapsed ? 'angle-down' : 'angle-up'"></b-icon> -->
                </div>
                <!-- <h3 v-else>{{group.title}}</h3> -->
                <!-- <pre>{{group}}</pre> -->
                <div class="text-wrap" v-if="!group.collapsed">
                    <div v-for="entry in group.entries" class="group" :key="entry._id">
                        <div class="event-header">
                            <div class="text">
                                {{entry.event.startDate | moment("h:mma ddd D MMM")}} - {{entry.event.title}}
                            </div>
                            <div class="timeago">
                                <Strong>{{entry.event.startDate | timeago}}</Strong>
                            </div>
                        </div>
                        <div v-for="result in entry.interactions" :key="result._id">
                            <template v-if="result.type == 'interaction'">
                                <router-link class="item" :to="{ name: 'interaction', params: { id: result._id }}">
                                    <strong>{{result.primaryEmail}}</strong>
                                    <div class="small">{{result.tickets.length}} ticket{{result.tickets.length == 1 ? '' : 's'}}</div>
                                    <div class="small muted">{{result.tickets | comma('firstName')}}</div>
                                </router-link>
                            </template>
                            <template v-else>
                                <router-link class="item" :to="{ name: 'ticket', params: { id: result._id }}">
                                    <strong>{{result.title || result.primaryEmail}}</strong>
                                    <div class="small muted">{{result.tickets[0].firstName}} {{result.tickets[0].lastName}}</div>
                                </router-link>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="container" v-if="grouped.past.length">
                <div class="text-wrap">
                    <div class="past" @click="showPast = !showPast">
                        <strong>{{showPast ? 'Hide' : 'Show'}} Past Events</strong>
                        <b-icon library="fa" :icon="!showPast ? 'angle-down' : 'angle-up'"></b-icon>
                    </div>
                    <template v-if="showPast">
                        <div v-for="event in grouped.past" class="group content" :key="event._id">
                            <h5>
                                
                                {{event.title}} - {{event.startDate | moment("h:mma - ddd D MMMM")}}
                            </h5>
                            <router-link class="item" :to="{ name: 'interaction', params: { id: interaction._id }}" v-for="interaction in event.interactions" :key="interaction._id">
                               
                                <strong>{{interaction.primaryEmail}}</strong>
                                <div class="small">{{interaction.tickets.length}} ticket{{interaction.tickets.length == 1 ? '' : 's'}}</div>
                               
                            </router-link>
                        </div>
                    </template>
                </div>
            </div> -->
            <b-loading :is-full-page="true" :active="isFetching" :can-cancel="false"></b-loading>
        </div>
    </div>
</template>
<script>
// @ is an alias to /src
import _ from "lodash";
import moment from "moment";

export default {
    name: "search",
    data() {
        return {
            search: {
                terms: ""
            },
            results: [],
            isFetching: false,
            showPast: false
        };
    },
    watch: {
        // call again the method if the route changes
        "search.terms": "fetchData"
    },
    mounted() {
        this.$refs.search.focus();
    },
    computed: {
        grouped() {

            var self = this;

            //console.log("Original data", this.results);
            return _.chain(self.results)
                .orderBy(function(entry) {
                    return new Date(entry.startDate);
                })
                // .reverse()
                .reduce(function(set, interaction) {


                    _.each(interaction.tickets, function(ticket) {

                        var event = ticket.event;
                        var eventID = event._id;
                        var existing = set[eventID];

                        if (!existing) {
                            existing = set[eventID] = {
                                _id: eventID,
                                event,
                                interactions: [],
                                interactionKeys: {},
                                weight: 0,
                                // _id: interaction._id,
                                // title: event.title,
                                // startDate: event.startDate,
                                // endDate: event.endDate,
                                // checkinStartDate: event.checkinStartDate,
                                // checkinEndDate: event.checkinEndDate,
                                // interactions: [],
                                // icon,
                                // pack,
                                // tooltip,
                                // order
                            };
                        }


                        if (!existing.interactionKeys[interaction._id]) {
                            existing.interactionKeys[interaction._id] = true;
                            existing.interactions.push(interaction);
                        }



                        var now = new Date();
                        // var pack = "fa";
                        // var icon = "history";
                        // var tooltip = "Past Event";
                        // var order = 3;

                        if (new Date(event.checkinStartDate) > now) {
                            existing.groupingKey = 'Coming Up';
                            existing.class = 'upcoming';
                            existing.weight = 2;

                        }

                        if (new Date(event.checkinStartDate) < now && new Date(event.checkinEndDate) > now) {
                            existing.groupingKey = 'Open Now';
                            existing.class = 'present';
                        }

                        if (new Date(event.checkinEndDate) < now) {
                            existing.groupingKey = 'Past Events';
                            existing.collapsed = true;
                            existing.collapsible = true;
                            existing.weight = 3;
                            existing.class = 'archived';
                        }

                        return set;
                    });

                    return set;

                }, {})
                // .orderBy(function(entry) {
                //     return new Date(entry.event.checkinStartDate);
                // })
                // .values()
                .reduce(function(set, entry) {

                    var groupingKey = entry.groupingKey;
                    var existing = set[groupingKey];

                    if (!existing) {
                        existing = set[groupingKey] = {
                            title: groupingKey,
                            weight: entry.weight,
                            collapsed: !!entry.collapsed,
                            collapsible: !!entry.collapsible,
                            entries: [],
                            class: entry.class,


                        }
                    }

                    existing.entries.push(entry);


                    return set;

                }, {})
                .values()
                .orderBy('weight')

                .value();

            // var present = _.filter(groupedData, { present: true });
            // var past = _.filter(groupedData, { past: true });
            // var future = _.filter(groupedData, { future: true });

            //console.log(past, present, future);
            // return { past, present, future };
        }
    },
    filters: {
        timeago(date) {
            return moment(date).fromNow();
        }
    },
    methods: {
        toggleCollapsed(group) {
            // console.log('TOGGLE COLLAPSED', group.collapsed)
            if (group.collapsed) {
                this.$set(group, 'collapsed', false)
            } else {
                this.$set(group, 'collapsed', true)
            }

            this.$forceUpdate();
        },
        fetchData: _.debounce(function() {
            if (!this.search.terms.length) {
                this.results = [];
                return;
            }

            console.log("SEARCHING");
            this.isFetching = true;
            this.$fluro.api
                .get(`/tickets/interaction/search/${this.search.terms}`)
                .then(({ data }) => {
                    this.results = data;
                })
                .catch(error => {
                    this.results = [];
                    throw error;
                })
                .finally(() => {
                    this.isFetching = false;
                });
        }, 600)
    }
    // computed:{
    //  counter:{
    //    get() {
    //      return this.$store.state.counter;
    //    },
    //    set(value) {
    //      return this.$store.commit('counter', value);
    //    }
    //  },
    // },
    // methods:{
    //  increment() {
    //      // console.log('Increment', this.$store.state)
    //      this.$store.dispatch('increment', 5);
    //    },
    //    decrement() {
    //      // console.log('Decrement', this.$store.state)
    //      this.$store.dispatch('decrement');
    //    }
    // }
};
</script>
<style>
.search-field input {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}
</style>
<style scoped lang="scss">
@import '@/_variables.scss';

.border-top {
    border-top: 1px solid rgba(#000, 0.1);
}

.event-header {
    text-transform: uppercase;
    margin: 0 0 1.4em 0;
    font-size: 0.7em;
    opacity: 0.8;
    display: flex;
    flex-wrap: true;
    align-items: center;


    .text {
        flex: 1;
        padding-right: 5px;
    }

    .timeago {
        flex: none;
        opacity: 0.8;
        font-size: 0.9em;
    }
}

.small {
    font-size: 0.8em;
}

.archived.open {
    background: rgba(#000, 0.05);
    opacity: 0.8;
}

.present {
    background: #fafafa;

    .group-header strong {
        color: $primary;
    }

    .timeago {
        opacity: 1 !important;

        strong {
            color: $primary;

        }
    }


}

.upcoming {
    background: #f0f0f0;
}

.group {
    padding: 0 0 1.4em 0;
    margin-bottom: 1.4em;
    border-bottom: 1px solid rgba(#000, 0.1);

    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }


}

.field {
    margin-bottom: 0;
}


.group-header {
    margin: 1em 0;
}

.past {
    opacity: 0.5;
    display: flex;
}

.item {
    label {
        display: block;
        font-size: 0.7em;
        font-weight: bold;
        opacity: 0.5;
        text-transform: uppercase;
    }

    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    display: block;
    padding: 7px 15px;
    white-space: nowrap;
    border: 1px solid #ddd;
    line-height: 1.5;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(#000, 0.1);
    transition: background 0.3s,
    border 0.3s,
    color 0.3s;
}
</style>