<template>
    <div class="flex-column bg-white">
        <div class="flex-column-body">
            <section class="section">
                <div class="container">
                    <div class="text-wrap">
                        <h1>
                            {{user.account.title}}
                        </h1>
                        <div class="field">
                            <b-switch v-model="collectOnly" :true-value="false" :false-value="true">
                                Checkin upon collection
                            </b-switch>
                            <p class="help-text" v-if="collectOnly">
                                Tickets scanned will only mark the ticket as 'collected' but not actually check the contact in to the event.
                                This is useful if you want to allow attendees to collect their physical tickets/wristbands a few weeks before the event actually occurs.
                            </p>
                            <p class="help-text" v-else>
                                Tickets scanned will check the contact in to the event automatically.
                            </p>
                        </div>
                        <div class="field" v-if="!collectOnly">
                            <label>Nametag Printer</label>
                            <p class="help-text">
                                Select a label printer for checkin name tags
                            </p>
                            <b-select expanded v-model="printer" placeholder="Select a printer">
                                <option value="">None - Do not print labels</option>
                                <option v-for="printer in printers" :value="printer._id" :key="printer._id">
                                    {{ printer.title }}
                                </option>
                            </b-select>
                        </div>
                        <!-- <pre>{{storage}}</pre> -->
                        <div class="buttons" @click="logout()">
                            <b-button expanded>Sign Out</b-button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
    name: 'settings',
    methods: {
        logout() {
            this.$fluro.auth.logout();
        }
    },
    // computed: {
    // 	user() {
    // 		return this.$fluro.auth.getCurrentUser();
    // 	},
    // },
}
</script>
<style>
.help-text {
    font-size: 0.8em;
    opacity: 0.5;
}
</style>