<template>
    <div class="flex-column">
        <b-loading :is-full-page="true" :active="loading || processing" :can-cancel="false"></b-loading>
        <template v-if="!loading">
            <div class="flex-column-body">
                <!-- <section class="section">
                <div class="container"> -->
                <template v-for="year in timeline">
                    <template v-for="month in year.months">
                        <div class="entry-day" v-for="day in month.days">
                            <!-- <div class="entry-date-header"> -->
                            <!-- {{day.date | formatDate(`dddd D MMM`)}} -->
                            <!-- </div> -->
                            <div class="entry-timeslot" :class="{expanded:isOpen(event)}" v-for="event in day.items">
                                <div class="event-header" @click="toggle(event)">
                                    <div class="grow">
                                        {{event.startDate | formatDate('h:mma')}} - {{event.title}} - {{event.startDate | formatDate('ddd D MMM')}}
                                    </div>
                                    <div class="shrink">
                                        <b-icon :icon="isOpen(event) ? 'angle-up' : 'angle-down'" />
                                    </div>
                                </div>
                                <div class="event-details" v-if="isOpen(event)">
                                    <!-- <h5>{{event.title}}</h5> -->
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Ticket</th>
                                                <th class="table-right">Collected</th>
                                                <th class="table-right">Remaining</th>
                                                <th class="table-right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="ticketType in event.tickets">
                                                <td>{{ticketType.title}}</td>
                                                <td class="table-right" :class="{zero:ticketType.collected}">{{ticketType.collected}}</td>
                                                <td class="table-right" :class="{zero:ticketType.remaining}">{{ticketType.remaining}}</td>
                                                <td class="table-right" :class="{zero:ticketType.total}">{{ticketType.total}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Total</th>
                                                <th class="table-right" :class="{zero:event.totals.collected}">{{event.totals.collected}}</th>
                                                <th class="table-right" :class="{zero:event.totals.remaining}">{{event.totals.total - event.totals.collected}}</th>
                                                <th class="table-right" :class="{zero:event.totals.total}">{{event.totals.total}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <!-- <pre>{{event.tickets}}</pre> -->
                                    <!-- {{event}} -->
                                </div>
                            </div>
                        </div>
                    </template>
                </template>
                <!--
                        <div class="event-card" v-for="event in totals">
                            <div class="event-title">{{event.title}}</div>
                            <div class="event.date">{{event | readableEventDate}}</div>
                            <div class="event-description">{{event.firstLine}}</div>
                        </div>
                    -->
            </div>
            <div class="flex-column-footer border-top">
                <div class="padder" style="text-align:center">
                    <div class="flex-row">
                        <div class="flex-shrink">
                        </div>
                        <div class="flex-shrink">
                            <b-button class="block is-primary" @click="reload()">
                                Refresh
                            </b-button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <!--  </section>
        </div> -->
    </div>
</template>
<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
    name: 'totals',

    // computed: {
    //  user() {
    //      return this.$fluro.auth.getCurrentUser();
    //  },
    // },
    data() {
        return {
            cacheKey: 1,
            processing: true,
            loading: true,
            accordionCache: {},
        }
    },
    methods: {
        toggle(event) {
            var eventID = this.$fluro.utils.getStringID(event);
            var isOpen = this.isOpen(event);
            this.$set(this.accordionCache, eventID, !isOpen);
        },
        isOpen(event) {
            var eventID = this.$fluro.utils.getStringID(event);
            return this.accordionCache[eventID];
        },
        reload() {
            this.cacheKey++;
        },
    },
    computed: {
        filtered() {
            var self = this;

            var now = new Date();
            now.setHours(0, 0, 0, 0);

            var today = _.filter(self.events, function(event) {
                var date = new Date(event.startDate);
                date.setHours(0, 0, 0, 0);

                return date.getTime() == now.getTime();
            })

            if (today.length) {
                return today;
            } else {
                return self.events;
            }
        },
        timeline() {

            var self = this;
            return self.$fluro.date.timeline(self.filtered, 'startDate', true);
        }
    },
    asyncComputed: {
        events: {
            default: [],
            get() {
                var self = this;

                // self.loading = true;
                self.processing = true;

                return new Promise(function(resolve, reject) {

                    console.log('load')
                    return self.$fluro.api.get(`/tickets/totals`, { params: { cacheKey: self.cacheKey } })
                        .then(function(res) {

                            resolve(res.data);
                            self.loading = false;
                            self.processing = false
                            console.log('loading complete')
                        }, function(err) {
                            reject(err);
                            self.loading = false;
                            self.processing = false
                            console.log('loading error')
                        })
                })
            }
        },
    },
}
</script>
<style lang="scss">
.padder {
    padding: 15px;
}

table {
    width: 100%;

    thead {
        th {
            text-transform: uppercase;
            ;
            font-size: 0.7em;
            opacity: 0.5;
        }
    }

    tfoot {
        td {
            border-top: 2px solid rgba(#000, 0.1);
            text-transform: uppercase;

            // font-size: 0.8em;
            //opacity: 0.8;
            padding-top: 10px;
        }
    }

    td,
    th {
        padding: 0.2em;
    }


}

.table-right {
    text-align: right !important;
}

.entry-date-header {
    background: rgba(#000, 0.05);
    padding: 0.2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 0.9em;
    margin: 0;
}

.event-header {
    padding: 0.4em 0.2em;
    background: #eee;
    font-weight: bold;
    border-top: 1px solid rgba(#000, 0.1);
    display: flex;
    align-items: center;
    font-size: 0.8em;
    //letter-spacing: -0.05em;

    .grow {
        flex: 1;
    }

    .shrink {
        flex: none;
        padding: 0 0.2em;
        display: flex;
        align-items: center;
    }

}

.event-details {
    padding: 1em 0.2em;
    background: #fff;
}

.entry-timeslot {

    &.expanded {
        .event-header {
            background: #fff;
        }
    }

    .entry-timeslot-time {
        //     flex: none;
        padding: 0.2em;
        //     text-align: left;
        //     width: 90px;
    }

    .entry-timeslot-details {
        flex: 1;
        // padding: 5px;
    }


}
</style>